{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-11 col-md-8 col-lg-5 account-container qsa-radius mt-2 qsa-border">
            <h2 class="text-center ">Modifier votre mot de passe</h2>
            <p class="text-end mb-0"><a href="{{ path('app_account') }}">Retour vers mon compte</a></p>
            {{ form_start(form) }}

            {{ form_label(form.email) }}
            <div class="errors mt-1">
                {{ form_errors(form.email) }}
            </div>
            {{ form_widget(form.email) }}

            {{ form_label(form.name) }}
            <div class="errors mt-1">
                {{ form_errors(form.name) }}
            </div>
            {{ form_widget(form.name) }}

            {{ form_label(form.old_password) }}
            <div class="errors mt-1">
                {{ form_errors(form.old_password) }}
            </div>
            {{ form_widget(form.old_password) }}

            {{ form_label(form.new_password.first) }}
            <div class="errors mt-1">
                {{ form_errors(form.new_password.first) }}
            </div>
            {{ form_widget(form.new_password.first) }}

            {{ form_label(form.new_password.second) }}
            <div class="errors mt-1">
                {{ form_errors(form.new_password.second) }}
            </div>
            {{ form_widget(form.new_password.second) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



