{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="qsa-border qsa-radius account-container">
            <h3 class="text-center p-3 ">Demande de réinitialisation de votre mot de passe</h3>
            {{ form_start(form) }}

            {{ form_label(form.email) }}
            <div class="errors mt-2">
                {{ form_errors(form.email) }}
            </div>
            {{ form_widget(form.email) }}
            <p class="my-2">Vous vous êtes trompé ? <a href="{{ path('app_login') }}">Revenir à la page de connexion</a></p>
            <button type="submit" class="btn qsa-btn mt-3">Faire la demande de réinitialisation</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

