{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="qsa-border qsa-radius account-container">
            <h3 class="text-center p-3">Réinitialiser votre mot de passe</h3>
            {{ form_start(form) }}

            {{ form_label(form.password) }}
            <div class="errors mt-2">
                {{ form_errors(form.password) }}
            </div>
            {{ form_widget(form.password) }}
            <button type="submit" class="btn qsa-btn mt-3">Changer le mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

