{% extends 'base.html.twig' %}

{% block title %}Détail échantillon n°{{ echantillon.id }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="w-50 mx-auto background-gray qsa-radius">
        <h2 class="text-center p-2">Échantillon n° {{ echantillon.id }}</h2>

        <table class="table qsa-border">
            <tbody>
            <tr>
                <th>Crée par ?</th>
                <td>{% if app.user.id == echantillon.entreprise.id %}
                        Vous
                    {% else %}
                        {{ echantillon.entreprise.name }}
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Date de prélèvement</th>
                {% if echantillon.dateOfSampling == null %}
                    <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                        La date de prélèvement est obligatoire
                    </td>
                {% else %}
                    <td>{{ echantillon.dateOfSampling | date('d-m-Y') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Nom du produit</th>
                {% if echantillon.productName == null %}
                    <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                        Le nom du produit est obligatoire
                    </td>
                {% else %}
                    <td>{{ echantillon.productName }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Numéro de lot</th>
                <td>{{ echantillon.numberOfBatch }}</td>
            </tr>
            <tr>
                <th>État physique</th>
                {% if echantillon.etatPhysique == null %}
                    <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                        L'état physique du produit est obligatoire
                    </td>
                {% else %}
                    <td>{{ echantillon.etatPhysique.name }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Conditionnement</th>
                {% if echantillon.conditioning == null %}
                    <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                        Le conditionnement du produit est obligatoire
                    </td>
                {% else %}
                    <td>{{ echantillon.conditioning.name }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Température du produit</th>
                <td>{{ echantillon.temperatureOfProduct }}</td>
            </tr>
            <tr>
                <th>Température de l'enceinte</th>
                <td>{{ echantillon.temperatureOfEnceinte }}</td>
            </tr>
            <tr>
                <th>Date d'analyse</th>
                {% if echantillon.dateAnalyse == null %}
                    <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                        La date d'analyse est obligatoire
                    </td>
                {% else %}
                    <td>{{ echantillon.dateAnalyse|date('d-m-Y') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>DLC / DLUO</th>
                {% if echantillon.dlcOrDluo == null %}
                    <td><i><small>Date non précisée</small></i></td>
                {% else %}
                    <td>{{ echantillon.dlcOrDluo | date('d-m-Y') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Date de fabrication</th>
                {% if echantillon.dateOfManufacturing == null %}
                    <td><i><small>Date non précisée</small></i></td>
                {% else %}
                    <td>{{ echantillon.dateOfManufacturing | date('d-m-Y') }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Analyse à DLC ?</th>
                <td>{{ echantillon.analyseDlc ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Validation de DLC ?</th>
                <td>{{ echantillon.validationDlc ? 'Oui' : 'Non' }}</td>
            </tr>
            {% if echantillon.validationDlc == true %}
                <tr>
                    <th>Température de rupture</th>
                    {% if echantillon.tempOfBreak == null %}
                        <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                            La température de rupture est obligatoire
                        </td>
                    {% else %}
                        <td>{{ echantillon.tempOfBreak }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Date de rupture</th>
                    {% if echantillon.dateOfBreak == null %}
                        <td class="text-danger"><i class="fa-solid fa-triangle-exclamation mb-1"></i>
                            La date de rupture est obligatoire
                        </td>
                    {% else %}
                        <td>{{ echantillon.dateOfBreak | date('d-m-Y') }}</td>
                    {% endif %}
                </tr>
            {% endif %}
            <tr>
                <th>Fabricant</th>
                <td>{{ echantillon.supplier }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between py-4 px-2">
            <a href="{{ path('app_detail_order', {id : echantillon.numberOfOrder.id }) }}">Retour au détail du bon de
                commande</a>
            {% if app.user.id == echantillon.entreprise.id or is_granted("ROLE_ADMIN") %}
                <a class="btn qsa-btn" href="{{ path('app_echantillons_edit', {'id': echantillon.id}) }}">Modifier
                    l'échantillon</a>
            {% endif %}
        </div>
    </div>


{% endblock %}
